<%= form_for(@class_object, :url => { :action => "save_new_password" }, :method => "post") do |f| %>
  <% if @class_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_object.errors.count, "error") %> prohibited this post from being saved:</h2>
    </div>
  <% end %>
  <fieldset>
    <legend>Reset Password</legend>
    <table>
      <tr>
        <td>Enter Password:</td>
        <td> <%= f.password_field :password %></td>
        <% unless error_present?(:password, @class_object) %>
          <td class="error_notice"><%= get_errors(:password, @class_object) %></td>
        <% end %>
      </tr>
      <tr>
        <td>Re Enter the password Again: </td>
        <td> <%= f.password_field :password_confirmation %></td>
        <% unless error_present?(:password_confirmation, @class_object) %>
          <td class="error_notice"><%= get_errors(:password_confirmation, @class_object) %></td>
        <% end %>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit :submit, :class => "btn btn-success" %></td>
      </tr>
  </table>
  </fieldset>
<% end %>