<% unless notice.nil? %>
  <div id="notice"><%= notice %></div>
<% end %>

<%= form_for(@job_seeker, :url => update_password_path, :method => :post ) do |f| %>
  <% if @job_seeker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_seeker.errors.count, "error") %> occured while saving password</h2>
      <ul>
      <% @job_seeker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>
  <fieldset>
    <legend> Change Password here </legend>
    <table>
      <tr>
        <td><%= label_tag "Original Password" %></td>
        <td><%= password_field_tag :old_password  %></td>
      </tr>
      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td><%= f.label :password_confirmation %></td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
      <tr><td><%= submit_tag "Save New Password" %></td></tr>
    </table>
  </fieldset>
<% end %>