<h1> Registration Page </h1>
<%= form_for(@job_seeker) do |f| %>
  <% if @job_seeker.errors.any? %>
    <div class="error_messages">
      <h2> Form is invalid </h2>
      <ul>
        <% for message in @job_seeker.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table border = "2">
    <tr><td><%= f.label :name %></td><td><%= f.text_field :name %></td></tr>
    <tr><td><%= f.label :email %></td><td><%= f.email_field :email %></td></tr>
    <tr><td><%= f.label :password %></td><td><%= f.password_field :password %></td></tr>
    <tr><td><%= f.label :password_confirmation %></td><td><%= f.password_field :password_confirmation %></td></tr>
    <tr><td><%= f.label :location %></td><td><%= f.text_field :location %></td></tr>
    <tr><td><%= f.label :mobile_number %></td><td><%= f.telephone_field :mobile_number %></td></tr>
    <tr><td>Profile Details</td></tr>
    <tr><td><%= f.label :experience %></td><td><%= f.select "experience", JobSeeker::EXPERIENCE %></td></tr>
    <tr><td><%= f.label :key_skills %></td><td><%= f.select "key_skills", ""%></td></tr>
    <tr>
      <td><%= f.label :industry %></td>
      <td><%= f.select :industry, JobSeeker::INDUSTRY %></td></tr>
    <tr><td></td><td><p class="button"><%= f.submit %></p></td></tr>
<% end %>