<% if session[:job_seeker_id].nil? %>
  <center> 
    <div id = "not_login">
    <p>
      You are not currently logged into the system...Please click <%= link_to 'here', root_path %> to login
    </p>
    </div>
  </center> 
<% else %>
  <div id="logged_in_holder"> 
    <p> Logged in as <%= current_user.email %> | <%= link_to 'Log Out', logout_path %>
  </div>
<br />
<br />
  <div id = "main-container">
    <h3> Welcome <%= current_user.name %></h3>
    <% unless notice.nil? %>
      <div id = "notice"> <%= notice %> </div>
    <% end %>
    <fieldset class="profile-fieldset"><legend>Your Profile Information</legend>
      <div id="links_to_use">
        <%= link_to 'Change Password', change_password_path %> |
        <%= link_to 'Edit', edit_job_seeker_path(session[:job_seeker_id]) %> 
      </div>
      <div id = "profile_div">
      <h5> Your Profile Information : </h5>
      <table>
        <tr><td> Name: </td><td><%= current_user.name %></td></tr>
        <tr><td> Email: </td><td><%= current_user.email %></td></tr>
        <tr><td> Location: </td><td><%= current_user.location %></td></tr>
        <tr><td> Mobile Number: </td><td><%= current_user.mobile_number %></td></tr>
        <tr><td> Experience : </td>
          <td>
            <% if current_user.experience.nil? %>
                Not Mentioned
            <% else %>
                <%= current_user.experience %> years
            <% end %>
          </td></tr>
        <tr><td> Industry : </td>
          <td>
            <% if current_user.industry.nil? %>
                Not Mentioned
            <% else %>
                <%= current_user.industry %>
            <% end %>
          </td>
        </tr>
        <tr><td> Key Skills : </td>
          <td>
            <% if current_user.skills.nil? %>
                Not Mentioned
            <% else %>
                <%= current_user.key_skills %>
            <% end %>
          </td>
      </table>
    </div>
    </fieldset>
    <fieldset class="profile-fieldset"><legend>Your Job Applications</legend>
      <table>
        <% current_user.jobs.each do |job| %>
          <tr><td>Job <%= current_user.jobs.index(job) + 1 %></td></tr>
          <tr><td> Employer </td><td><%= job.employer.name %></td></tr>
          <tr><td> Job Description </td><td><%= job.description %> </td></tr>
          <tr><td> Location </td><td><%= job.location %> </td></tr>
          <tr><td> Salary </td><td><%= job.salary %> LPA </td></tr>
        <% end %>
      </table>
    </fieldset>
    <fieldset class="profile-fieldset"><legend>Search and Apply for Jobs:</legend>
    </fieldset>
  </div>
  
<% end %> 
