<fieldset>
  <legend id="admin-profile"> Admin Profile </legend>
  <div id="links_to_use">
    <%= link_to 'Change Password', change_password_admin_path(@admin) %>
  </div>
  <h3>Welcome <%= @admin.name %></h3>
  <table>
    <tr><td>Email: </td><td><%= @admin.email %></td></tr>
  </table>
</fieldset>
<fieldset>
  <legend id="jobs-container">Jobs Posted On Jobs Jugaad</legend>
  <%= render 'all_jobs' %>
</fieldset>
<fieldset>
  <legend id="employers-container">Employers On Jobs Jugaad</legend>
  <%= render 'all_employers'%>
</fieldset>