<h2> Search Your Dream Job Here .... </h2>
<div id="search">
  <%= form_tag(:controller => "jobs", :action => 'search_results') do %>
  <table>
    <tr>
      <td>Enter Location</td>
      <td><%= text_field_tag :location, nil, :placeholder => "Search by Location" %></td>
    </tr>
    <tr>
      <td>Enter Skills</td>
      <td><%= text_field_tag :skills, nil, :placeholder => "Search by Skills" %></td>
    </tr>
    <tr>
      <td> Salary </td>
      <td>
        <%= number_field_tag :sal_min, nil, :placeholder => "Minimum" , :class => "sal-fields", :value => 0 %>
         to 
        <%= number_field_tag :sal_max, nil, :placeholder => "Maximum",:class => "sal-fields", :value => 0 %>
        <%= select_tag :sal_type, options_for_select(Job::SALARY_TYPE), :class => "sal-fields" %>
      </td>
    </tr>
    <tr>
      <td><%= submit_tag "Search For Jobs" %></td>
    </tr>
    </table>
  <% end %>  
</div>