<% if @job_application.errors.any? %>
  <div id="error-explanation"> 
    <h3> There was an error </h3> 
  </div>
<% end %>
<fieldset>
  <legend>Calling Candidate For Interview </legend>
  <h3> Welcome <%= @job_application.job.employer.name %></h3>
  <h4> Please fill in the interview date, so that the candidate, <%= @job_application.job_seeker.name %> can be intimated about the same </h4>
  <%= form_for (@job_application) do |f| %>
  <table>
    <tr>
      <td> Select Interview Date: </td>
      <td> <%= f.text_field :interview_on, :readonly => true %></td>
      <% unless error_present?(:interview_on, @job_application) %>
        <td class="error_notice"><%= get_errors(:interview_on, @job_application) %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= f.label "Place and Time of interview" %></td>
      <td><%= f.text_area :remarks %></td>
    </tr>
    <tr><td> <%= f.submit "Send Mail for Interview" %></td></tr>
  </table>
<% end %>
</fieldset>