<h3>Here are the short listed candidates called for interview for the Job</h3>
<table>
  <th>Name</th>
  <% @job_applications.each do |application| %>
    <tr>
      <td><%= application.job_seeker.name %></td>
      <td><%= application.state %></td>
      <td><%= link_to "Accepted Offer", perform_action_job_application_path(application.id, :event => "accepted_offer") %>
      </td>
      <td><%= link_to "Rejected Offer", perform_action_job_application_path(application.id, :event => "rejected_offer") %></td> 
    </tr>
  <% end %>
</table>

<%= link_to "Back to job applicants", view_applicants_job_path %>