<!DOCTYPE html>
<html>
<head>
  <title>JobsJugaad</title>
  <%= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.23.custom.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id = "header">
    <h1> Welcome to Jobs Jugaad </h1>
    <%= link_to 'Home', root_url %>
  </div>
  <% unless current_user.nil? %>
    <div id="logged_in_holder"> 
      <p> Logged in as <%= link_to current_user.email, get_path() %> | <%= link_to 'Log Out', logout_path %>
    </div>
  <% end %>
<%= yield %>
</body>
</html>
